@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

$box-color: #143f4aa2;
$box-radius: 20px;

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    padding-top: 3vh;
    background: linear-gradient(45deg, #0d0f13, #082027);
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: sticky;
    top: 3vh;
    height: 97vh;
    display: flex;
    flex-direction: column;

    .logo{
        font-size: 30px;
        font-weight: 600;
        color: #3aadff;
    }

    .nav-list{
        width: 90%;

        ul{
            padding-left: 0;
            margin: 20px 0;
        }

        li{
            list-style-type: none;
            font-size: 22px;
            font-weight: 300;
            margin: 5% 0;
            
            a{
                display: flex;
                flex-direction: row;
                padding: 10px 20px;
                transition: 0.2s;
                border-radius: 50px;

                &:hover{
                    background: #2e3e42;
                }
            }
        }

        .nv-main-active span, .nv-main-active i{
            color: #50b6ff;
        }

        .nav-icon{
            width: 50px;
        }

        button{
            background: #2e87c6;
            font-size: 20px;
            padding: 10px 0;
            border-radius: 50px;
            width: 100%;
            border: none;
            transition: 0.2s;

            &:hover{
                background: #3597dc;
            }
        }
    }

    .logout-prf-btn{
        background: #103b48;
        border: none;
        width: 90%;
        padding: 10px 20px;
        margin-top: auto;
        margin-bottom: 5vh;
        transition: 0.2s;
        border-radius: 50px;

        &:hover{
            background-color: #165163;
        }
    }
}

main{
    display: flex;
    flex-direction: row;
}

.tweet-list{

    .tweet{
        margin: 20px 0;
        background-color: $box-color;
        border-radius: $box-radius;
        overflow: hidden;

        .main-tweet, .reply{
            padding: 10px 3px;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            cursor: pointer;
            transition: 0.2s;

            &:hover{
                background-color: lighten($color: $box-color, $amount: 1.2);
            }
        }

        .main-tweet{
            padding-top: 20px;
        }

        .reply{
            padding-top: 10px;
        }

        .left-profile{
            padding: 0 10px;
            width: 80px;
            position: relative;

            $rep-line-color: #6fa4aa;

            .rep-line{
                width: 2px;
                height: 100%;
                background: $rep-line-color;
                margin: auto;
                margin-top: 5px;
            }

            .rep-line-top{
                position: absolute;
                left: 50%;
                top: -15px;
                transform: translate(-50%, 0);
                height: 10px;
                margin: 0;
            }

            .prf-pic{
                width: 100%;
                border-radius: 50%;
            }
        }
        
        .right-content{
            padding: 0 10px;
            padding-left: 5px;
            width: 100%;

            .user-identity{

                a{
                    font-size: 17px;
                    font-weight: 600;
                    padding-right: 5px;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                p, span{
                    font-weight: 300;
                    color: #acacac;
                    margin: 0;
                    margin-bottom: 3px;
                }

                span{
                    padding: 0 5px;
                }

                display: flex;
                flex-direction: row;
            }

            .reactions{
                margin-top: 10px;
                margin-right: 10%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .stat{
                transition: 0.2s;

                i{
                    padding: 10px;
                    border-radius: 50%;
                    transition: 0.2s;
                }
                
                &:hover i{
                    background-color: grey;
                }
            }

            $likes-color: #fa445c;

            #likes:hover{
                color: $likes-color;

                i{
                    color: $likes-color;
                    background-color: transparentize($color: $likes-color, $amount: 0.8);
                }
            }

            $comments-color: #2dc7ff;

            #comments:hover{
                color: $comments-color;

                i{
                    color: $comments-color;
                    background-color: transparentize($color: $comments-color, $amount: 0.8);
                }
            }

            $retweets-color: #44fa5c;

            #retweets i{
                padding: 10px 9px;
            }

            #retweets:hover{
                color: $retweets-color;

                i{
                    color: $retweets-color;
                    background-color: transparentize($color: $retweets-color, $amount: 0.8);
                }
            }

            .reactions button, .reactions i{
                background: none;
                border: none;
                color: #c2c2c2;
            }

            .reactions i{
                margin: 0 10px;
            }
        }

        .image-content{
            height: 60vh;
            width: 100%;
            margin: 10px 0;

            img{
                max-height: 100%;
                max-width: 100%;
                border-radius: 20px;
            }
            
        }

    }

}

.tweets-sec{
    width: 65%;
}

.right-sec{
    margin-left: 25px;
    width: calc(35% - 25px);

    input{
        position: sticky;
        top: 3vh;
        width: 100%;
        padding: 8px 20px;
        border-radius: 50px;
        background-color: #134a5b;
        border: 1px solid transparent;
        transition: 0.2s;

        &:focus{
            border: 1px solid #227f9b;
            outline: none;
        }
    }
}

.trending, .profiles{
    background-color: $box-color;
    border-radius: $box-radius;
    padding-top: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h3{
        margin: 0 20px;
        margin-bottom: 10px;
    }

    a{
        padding: 20px;
        transition: 0.2s;

        &:hover{
            background-color: lighten($color: $box-color, $amount: 1.5);
        }
    }
}

.profiles{
    
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        padding: 10px 20px;

        span{
            color: #acacac;
        }

        p{
            margin: 0;
        }

        button{
            color: black;
            padding: 7px 15px;
            font-weight: 500;
            border-radius: 50px;
            border: none;
            margin-left: auto;
            transition: 0.2s;

            &:hover{
                background: #cfcfcf;
            }
        }
    }

    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.see-all{
    color: #85ccff;
    padding: 20px!important;
}