@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  padding-top: 3vh;
  background: linear-gradient(45deg, #0d0f13, #082027);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  position: sticky;
  top: 3vh;
  height: 97vh;
  display: flex;
  flex-direction: column;
}
nav .logo {
  font-size: 30px;
  font-weight: 600;
  color: #3aadff;
}
nav .nav-list {
  width: 90%;
}
nav .nav-list ul {
  padding-left: 0;
  margin: 20px 0;
}
nav .nav-list li {
  list-style-type: none;
  font-size: 22px;
  font-weight: 300;
  margin: 5% 0;
}
nav .nav-list li a {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  transition: 0.2s;
  border-radius: 50px;
}
nav .nav-list li a:hover {
  background: #2e3e42;
}
nav .nav-list .nv-main-active span, nav .nav-list .nv-main-active i {
  color: #50b6ff;
}
nav .nav-list .nav-icon {
  width: 50px;
}
nav .nav-list button {
  background: #2e87c6;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 50px;
  width: 100%;
  border: none;
  transition: 0.2s;
}
nav .nav-list button:hover {
  background: #3597dc;
}
nav .logout-prf-btn {
  background: #103b48;
  border: none;
  width: 90%;
  padding: 10px 20px;
  margin-top: auto;
  margin-bottom: 5vh;
  transition: 0.2s;
  border-radius: 50px;
}
nav .logout-prf-btn:hover {
  background-color: #165163;
}

main {
  display: flex;
  flex-direction: row;
}

.page-heading {
  background-color: rgba(29, 95, 112, 0.7058823529);
  padding: 15px 30px;
  border-radius: 20px;
  position: sticky;
  top: -20px;
  z-index: 10;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: -1px 9px 20px rgba(0, 0, 0, 0.1019607843);
}
.page-heading h1 {
  margin-top: 20px;
  font-size: 26px;
}

.tweet-list .tweet {
  margin: 20px 0;
  background-color: rgba(20, 63, 74, 0.6352941176);
  border-radius: 20px;
  overflow: hidden;
}
.tweet-list .tweet .main-tweet, .tweet-list .tweet .reply {
  padding: 10px 3px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}
.tweet-list .tweet .main-tweet:hover, .tweet-list .tweet .reply:hover {
  background-color: rgba(21, 67, 79, 0.6352941176);
}
.tweet-list .tweet .main-tweet {
  padding-top: 20px;
}
.tweet-list .tweet .reply {
  padding-top: 10px;
}
.tweet-list .tweet .left-profile {
  padding: 0 10px;
  width: 80px;
  position: relative;
}
.tweet-list .tweet .left-profile .rep-line {
  width: 2px;
  height: 100%;
  background: #6fa4aa;
  margin: auto;
  margin-top: 5px;
}
.tweet-list .tweet .left-profile .rep-line-top {
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translate(-50%, 0);
  height: 10px;
  margin: 0;
}
.tweet-list .tweet .left-profile .prf-pic {
  width: 100%;
  border-radius: 50%;
}
.tweet-list .tweet .right-content {
  padding: 0 10px;
  padding-left: 5px;
  width: 100%;
}
.tweet-list .tweet .right-content .user-identity {
  display: flex;
  flex-direction: row;
}
.tweet-list .tweet .right-content .user-identity a {
  font-size: 17px;
  font-weight: 600;
  padding-right: 5px;
}
.tweet-list .tweet .right-content .user-identity a:hover {
  text-decoration: underline;
}
.tweet-list .tweet .right-content .user-identity p, .tweet-list .tweet .right-content .user-identity span {
  font-weight: 300;
  color: #acacac;
  margin: 0;
  margin-bottom: 3px;
}
.tweet-list .tweet .right-content .user-identity span {
  padding: 0 5px;
}
.tweet-list .tweet .right-content .reactions {
  margin-top: 10px;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweet-list .tweet .right-content .stat {
  transition: 0.2s;
}
.tweet-list .tweet .right-content .stat i {
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s;
}
.tweet-list .tweet .right-content .stat:hover i {
  background-color: grey;
}
.tweet-list .tweet .right-content #likes:hover {
  color: #fa445c;
}
.tweet-list .tweet .right-content #likes:hover i {
  color: #fa445c;
  background-color: rgba(250, 68, 92, 0.2);
}
.tweet-list .tweet .right-content #comments:hover {
  color: #2dc7ff;
}
.tweet-list .tweet .right-content #comments:hover i {
  color: #2dc7ff;
  background-color: rgba(45, 199, 255, 0.2);
}
.tweet-list .tweet .right-content #retweets i {
  padding: 10px 9px;
}
.tweet-list .tweet .right-content #retweets:hover {
  color: #44fa5c;
}
.tweet-list .tweet .right-content #retweets:hover i {
  color: #44fa5c;
  background-color: rgba(68, 250, 92, 0.2);
}
.tweet-list .tweet .right-content .reactions button, .tweet-list .tweet .right-content .reactions i {
  background: none;
  border: none;
  color: #c2c2c2;
}
.tweet-list .tweet .right-content .reactions i {
  margin: 0 10px;
}
.tweet-list .tweet .image-content {
  height: 50vh;
  width: 100%;
  margin: 10px 0;
}
.tweet-list .tweet .image-content img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
}

.home-nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
.home-nav-btn a {
  font-size: 18px;
  padding-bottom: 5px;
  color: #c4c4c4;
  transition: 0.1s;
  position: relative;
}
.home-nav-btn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 5px;
  border-radius: 20px;
  background-color: #48b3ff;
  transition: 0.2s;
}
.home-nav-btn a:hover {
  color: white;
}
.home-nav-btn a:hover::after {
  width: 100%;
}
.home-nav-btn .nv-active {
  color: white;
}
.home-nav-btn .nv-active::after {
  width: 50%;
}
.home-nav-btn .nv-active:hover::after {
  width: 100%;
}

.tweets-sec {
  width: 65%;
}

.right-sec {
  margin-left: 25px;
  width: calc(35% - 25px);
}
.right-sec input {
  position: sticky;
  top: 3vh;
  width: 100%;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #134a5b;
  border: 1px solid transparent;
  transition: 0.2s;
}
.right-sec input:focus {
  border: 1px solid #227f9b;
  outline: none;
}

.trending, .profiles {
  background-color: rgba(20, 63, 74, 0.6352941176);
  border-radius: 20px;
  padding-top: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.trending h3, .profiles h3 {
  margin: 0 20px;
  margin-bottom: 10px;
}
.trending a, .profiles a {
  padding: 20px;
  transition: 0.2s;
}
.trending a:hover, .profiles a:hover {
  background-color: rgba(22, 68, 80, 0.6352941176);
}

.profiles a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  padding: 10px 20px;
}
.profiles a span {
  color: #acacac;
}
.profiles a p {
  margin: 0;
}
.profiles a button {
  color: black;
  padding: 7px 15px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  margin-left: auto;
  transition: 0.2s;
}
.profiles a button:hover {
  background: #cfcfcf;
}
.profiles img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.see-all {
  color: #85ccff;
  padding: 20px !important;
}/*# sourceMappingURL=style.css.map */