@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

$box-color: #143f4aa2;
$box-radius: 20px;

.page-heading{
    background-color: #1d5f70b4;
    padding: 15px 30px;
    border-radius: $box-radius;
    position: sticky;
    top: -20px;
    z-index: 10;
    backdrop-filter: blur(20px);
    box-shadow: -1px 9px 20px #0000001a;
    
    h1{
        margin-top: 20px;
        font-size: 26px;
    }
}

.home-nav-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;

    a{
        font-size: 18px;
        padding-bottom: 5px;
        color: #c4c4c4;
        transition: 0.1s;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 5px;
            border-radius: 20px;
            background-color: #48b3ff;
            transition: 0.2s;
        }

        &:hover{
            color: white;

            &::after{
                width: 100%;
            }
        }
    }

    .nv-active{
        color: white;

        &::after{
            width: 50%;
        }

        &:hover::after{
            width: 100%;
        }
    }
}

.tweets-sec{
    width: 65%;
}