@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

$box-color: #143f4aa2;
$grey-text: #acacac;
$box-radius: 20px;
$button-backgr: #2e87c6;
$button-hover: #3597dc;

.page-heading{
    background-color: #1d5f70ca;
    padding: 20px 30px;
    border-radius: $box-radius;
    position: sticky;
    top: 3vh;
    z-index: 10;
    backdrop-filter: blur(20px);
    box-shadow: -1px 9px 20px #0000001a;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    h1{
        margin: 0;
        font-size: 26px;
    }

    a{
        font-size: 20px;
        margin-right: 10px;
        padding: 5px 10px;
        transition: 0.3s;
        border-radius: 10px;
        overflow: hidden;

        span{
            display: inline-block;
            margin-left: 10px;
            width: 0;
            transition: 0.3s;
            opacity: 0;
        }

        &:hover{
            background-color: #0000004f;

            span{
                width: 48px;
                opacity: 1;
            }
        }    
    }
}

#current-tweet{
    padding: 25px;

    .stats{
        padding: 10px 0;
        font-size: 16px;
        border-top: 1px solid transparentize($color: $grey-text, $amount: 0.5);
        border-bottom: 1px solid transparentize($color: $grey-text, $amount: 0.5);
    }

    .stat-count{
        margin-right: 20px;
    }

    .stat-count span{
        font-weight: 300;
        color: $grey-text;
    }
}

.tweet-list .tweet-reply{
    margin: 20px;
    background: transparent;
    
    .main-tweet{
        padding: 20px 0;
        cursor: default;

        &:hover{
            background: transparentize($color: $box-color, $amount: 0.3);
        }
    }

    .reactions{
        margin-right: 0;
    }

    i{
        margin-left: 0!important;
    }
}

.tweet-header{

    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 50px;
        transition: 0.2s;

        &:hover{
            background: #6c95a44a;
        }
    } 

    img{
        width: 55px;
        border-radius: 50%;
        margin-right: 15px;
    }

    p{
        margin: 0;
        color: $grey-text;
    }
}

.cr-tweet-content{

    margin: 20px 0;

    p{
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 300;
    }

    .img-cont{
        width: 100%;
        height: 60vh;
    }

    img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;
    }
}

.time-posted{
    color: $grey-text;
    font-size: 17px;
    font-weight: 300;
}

.tweets-sec{
    width: 65%;
}

.user-name{
    color: white!important;
    font-size: 17px;
    font-weight: 600;
}

.right-sec input{
    position: static;
}

.reply-input-box{
    display: flex;
    flex-direction: row;
    margin: 0 10px;

    input{
        background-color: #0000001a;
        border: 2px solid transparentize($color: $box-color, $amount: 0.1);
        padding: 10px 20px;
        border-radius: 50px;
        width: 83%;
        transition: 0.2s;

        &:hover{
            background: transparentize($color: $box-color, $amount: 0.3);
        }

        &:focus{
            outline: none;
        }
    }

    button{
        background-color: $button-backgr;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        transition: 0.2s;
        margin-left: auto;

        &:hover{
            background: $button-hover;
        }
    }
}
